Source: ros-iron-sick-scan-xd
Section: misc
Priority: optional
Maintainer: rostest <ros.test@lehning.de>
Build-Depends: debhelper (>= 9.0.0), ros-iron-ament-cmake, ros-iron-ament-lint-auto <!nocheck>, ros-iron-ament-lint-common <!nocheck>, ros-iron-diagnostic-msgs, ros-iron-diagnostic-updater, ros-iron-geometry-msgs, ros-iron-nav-msgs, ros-iron-rcl-interfaces, ros-iron-rosidl-default-generators, ros-iron-sensor-msgs, ros-iron-std-msgs, ros-iron-tf2, ros-iron-tf2-ros, ros-iron-visualization-msgs, ros-iron-ros-workspace, ros-iron-rosidl-typesupport-fastrtps-c, ros-iron-rosidl-typesupport-fastrtps-cpp
Homepage: 
Standards-Version: 3.9.2

Package: ros-iron-sick-scan-xd
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-iron-diagnostic-msgs, ros-iron-diagnostic-updater, ros-iron-geometry-msgs, ros-iron-nav-msgs, ros-iron-rcl-interfaces, ros-iron-rosidl-default-runtime, ros-iron-sensor-msgs, ros-iron-std-msgs, ros-iron-tf2, ros-iron-tf2-ros, ros-iron-visualization-msgs, ros-iron-ros-workspace
Description: ROS 1 and 2 driver for SICK scanner
